{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Metering and Usage" %}{% endblock %}

{% block page_header %}
    {% include "horizon/common/_page_header.html" with title=_("Usage Panel") %}
{% endblock page_header %}

{% block css %}
{{ block.super }}
{% include "metering/_graph_styling.html" %}
{% endblock %}

{% block main %}
<form class="form-inline" action="?" method="get">
    <h3>Select a period of time to query usage</h3>
    <div class="datepicker form-group">
        <label>From:</label>
        <input type="text" data-date-format="yyyy-mm-dd" id="id_start" name="start" value="{{ start }}" />
    </div>

    <div class="datepicker form-group">
        <label>To:</label>
        <input type="text" data-date-format="yyyy-mm-dd" data-date-end-date="0d" id="id_end" name="end" value="{{ end }}" />
    </div>

    <div class="form-group">
        <label>Tenant:</label>
        <select id="id_tenant" name="tenant" class="form-control">
            {% for t in projects %}
                {% if t.id == tenant %}
                    <option value="{{ t.id }}" selected="selected">{{ t.name }}</option>
                {% else %}
                    <option value="{{ t.id }}">{{ t.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% include "metering/_graphs.html" %}
{% endblock %}

{% block js %}
{{ block.super }}
{% include "metering/_graphs_js.html" %}
{% endblock %}
